In [ ]:
num = 12
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

In [ ]:
#h1 Data Science Tools and Ecosystem

#h1 Some of the popular languages that Data Scientists use are:
list_1=[R,Python,SQL]

In [ ]:
#Datascience Libraries
matplotlib
pyplot
ggplot
plotty
pandas
numpy

In [ ]:
#DSTOOLS
Scikit
Selenium
Pandas
Tensorflow
Matplotlib

In [ ]:
#h1 Arithmetic Opertors
*--->Multiply
+--->Addition
- -----> Subtraction
% ------->Modulo
/ ------->Division

In [ ]:
#Below are a few examples of evaluating arithmetic expressions in Python.
N=int(input())
K=int(input())
print(K+N)
print(K*N)
print(K/N)
print(K%N)

In [8]:
n=int(input())
Hour=(n/60)
print("No of hours = ",Hour)

 200

No of hours =  3.3333333333333335

#Objective
In this final assignment we covered the following:
Creating a Jupyter Notebook
Inserting code and markdown cells
Sharing our notebook through GitHub

###h3 Creating a markdown cell to indicate the Author's name
Author : Raja Vardhan Reddy